// Variables
@import "variables";

.container.pannello {
  .btn-esegui {
    margin-left: 20px;
    padding: 2px 12px;
  }
  .deletebtn.form-group,
  .form-inline {
    display: inline-block;
    .input_domanda {
      width: 700px;
    }
    div {
      margin: 0 10px;
    }
  }
}
